<%= form_with(model: @veg, url: new_vegetable_path) do |form| %>
  <div class="form-group">
    <%= form.label :name, "Vegetable Name: " %> 
  
    <%= form.text_field :name, class: "form-input" %>
</div>
  
<div class="form-group">
  <%= form.label :season, "Growing Season:" %>
  
  <%= form.text_field :season, class: "form-input" %>
</div>
  
<div class="form-group">
  <%= form.label :season, "Growing Conditions:" %>
   
  <%= form.text_area :season, class: "form-input" %>
</div> 
  
  <br>
  <%= form.submit "Add Vegetable", class: "btn btn-success add-btn" %>
<% end %>

<%= link_to 'Cancel', vegetables_path, class: "btn btn-outline-success add-btn"%>

 <% if @veg.errors.any? %> 
  <% @veg.errors.full_messages.each do |message|%>
  <p><%= message %></p>
  <% end %>
<% end %>  