<h1>Vegetables Listing Page</h1>

<table>
<thead>
  <tr>    
    <th>Name</th>
    <th>Growing Season</th>
  </tr>
</thead>

<tbody>
  <% @veggies.each do |veg| %>
  <tr>
    <td> <%= veg.name %></td>
    <td> <%= veg.season %></td>
    <td><%= link_to 'Delete', vegetable_path(veg), method: :delete %></td>
    <td><%= link_to 'Show', vegetable_path(veg)%></td>
  </tr>
  <% end %>
</tbody>
</table>
<%= link_to 'Add Vegetable', new_vegetable_path%>