<h1>Add A Vegetable</h1>

<%= form_with(model: @veg, url: vegetables_path) do |form| %>
  <%= form.label :name, "Vegetable Name:" %>
  <%= form.text_field :name %> 
  <br>
  <br>
  <%= form.label :season, "Growing Season:" %>
  <%= form.text_field :season %>
  <br>
  <br>
  <%= form.submit "Add Vegetable" %>
<% end %>