<!DOCTYPE html>
<html>
  <head>
    <title>Veg Garden</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e988821a66.js" crossorigin="anonymous"></script>
  </head>

  <body>
 <%= render 'layouts/navigation'%>
  <%= render 'layouts/messages'%>
  <%= yield %>
  </body>
  <%= render 'layouts/footer'%>
</html>
